*~
aclocal.m4
autoconf.h
autoconf.h.in
autoconf.h.in~
autom4te.cache/
_build/
config.log
config.status
configure
configure.ac.bak
configure.scan
COPYING
core
cscope.*
ctwm/config
ctwm/getstyles
ctwm/start
.deps/
fvwm/start
INSTALL
_install/
jwm/config
jwm/getstyles
jwm/start
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
.nfs*
*.o
rc.m4
README
README.html
README.txt
scripts/
stamp-h*
.*.sw[mnop]
*.tar.*
twm/config
twm/getstyles
twm/start
vtwm/config
vtwm/getstyles
vtwm/start
xde-style
xde-theme
